<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
<title>Title of the document</title>
</head>

<body onload=initTheCanvas()>

    <div class='App'>
        <header>
            <h1>GET YOUR  NUMBER  PATTERN DETECTED!!</h1>
        </header>
        <div>
            <canvas id="myCanvas" aria-placeholder="DRAW YOUR NUMBER HERE">
            </canvas>
            <div id="buttonHolder">
                <button id='clear' onclick=clearDrawing()>Clear drawing</button>
                <button onclick=findPattern()>Find the pattern</button>
            </div>        
        </div>
        <div class='PatternTextHolder'>
            <div id="patternExplainer">Your number is</div>
            <input type="text" id="patternResponse"  />       
        </div>
        <footer>
        </footer>
    </div>

    <script src="{{ url_for('static', filename="js/index.js")}}"></script>
</body>


</html>
